
body{
font-family: arial;
}


#pin{
    width: 300;
    height: 300;
    border: 2px solid rgb(231, 84, 160);
    margin:0  10px;
    display: inline-block;
    margin-top: 20px;
    align-items: center;
}


#yell{
    width: 300;
    height: 300;
    border: 2px solid rgb(255, 255, 55);
    align-items: center;
    margin-top: 20px;
    display: inline-block;
    margin:0  10px;

    
}




